@import 'variables';
body,html{
    margin: 0px;
    overflow-x: hidden;
}
.newscard{
    width:20em;
    padding-bottom: 0px;
    box-shadow: 0px 0px 4px 0px $color-shadow;
    border-radius:$corner-radius; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: white;
    transition: transform 0.2s linear;
    .newsDesc{
        flex-grow: 1;
    }
    .newsTitle{
        font-size: 1.2em;
        color: $color-dark;
    }
    .newsImg{
        border-top-left-radius:$corner-radius;
        border-top-right-radius: $corner-radius;
        transition: filter 0.2s linear;
        -webkit-filter: sepia($filter-amt);
        filter: sepia($filter-amt);
    }
    .readmore{
        background: $color-primary;
        transition: background 0.2s linear;
        display: block;
        color:#fdfdfd;
        text-align: center;
        text-decoration: none;
        padding: 0.5em;
    }
    .newsDesc{
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0.5em; 
        overflow: hidden;
    }
    .newsTitle{
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0.5em; 
    }
    .author{
        padding-left: 0.5em; 
        color:$color-primary;
    }
    .newsSource{
        position: relative;
        padding-left: 10px;
        bottom: 1.5em;
        font-size: 1em;
        color: black;
        background-image: $fade-gradient;
    }
}


.newscard:hover{
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0px 0px 15px 0px $color-shadow;
    cursor: pointer;
    .newsImg{
        -webkit-filter: sepia(0);
        filter: sepia(0);
    }
    
}
.readmore:hover{
    background: $color-secondary;
}

.loading{
    padding: 10em;
    text-align: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid rgb(12, 32, 12);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
  

.grid{
    padding: 1em;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-auto-rows: 30em;
    grid-gap: 20px;
}