$color-primary: #A89DFA;
$color-secondary: #6F95F8;
$color-dark: #31353D;
$color-shadow: #999;
$fade-gradient:linear-gradient(to top, #cfd9df 0%, #ffffff00 100%);

$corner-radius: 7px;

$filter-amt:0.4;
